.gay-toolbar-container {
    transition: bottom 0.05s linear;
}
.gay-toolbar {
    /* From https://css.glass */
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


/* ------------------GRID------------------ */

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gay-button-container {
    width: 100%;
    height: 100%;
}

.gay-button {
    /* background: radial-gradient(black, pink) padding-box, conic-gradient(lightblue, pink, lightblue, pink) border-box; */
    position: relative;
    border-radius: 8px;
    border: 4px solid transparent;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.gay-button-tap {
    z-index: 2;
}
.gay-button-tap::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;             /* Starting diameter of the ring */
    height: 10px;
    background-color: inherit; /* Use the background color of the element */
    border-radius: 50%;      /* Make it circular */
    transform: translate(-50%, -50%);
    opacity: 0.8;           /* Starting opacity */
    z-index: 1;
    animation: expandRing .15s ease-out forwards;
  }
  
@keyframes expandRing {
    0% {
      width: 10px;
      height: 10px;
      opacity: 0.8;
    }
    100% {
      width: 150px;          /* Adjust final size */
      height: 150px;
      opacity: .3;            /* Fades as it expands */
    }
}

.gay-button-press {
    z-index: 2;
}
.gay-button-press::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;             /* Starting diameter of the ring */
    height: 10px;
    background-color: inherit; /* Use the background color of the element */
    border-radius: 50%;      /* Make it circular */
    transform: translate(-50%, -50%);
    opacity: 0.8;   
    z-index: 1;         /* Starting opacity */
    animation: pulseRing .05s ease forwards;

}
@keyframes pulseRing {
    0% {
      width: 150px;
      height: 150px;
      opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
      width: 150px;          
      height: 150px;
      opacity: 0.3;            
    }
}

.gay-icon-lmao {
    width: 100%;
    height: 100%;
}

.button-halo {
    scale: 1.5;
}

.wiggle {
    animation: wiggle .65s infinite ease-in-out;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }
}




/* ------------------SETTINGS------------------ */

.gay-settings-container {
    position: relative;
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 8px;
}
  
.background-options {
    grid-row-start: 4; /* Last row */
    grid-column: 1 / 3; /* Span the entire row */
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.background-options-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    padding-right: .3rem; /* Width of typical scrollbar */
}

.settings-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toolbar-setting-wrapper {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-settings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-settings > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    
    padding: 8px 8px;
    border-radius: 8px;
    /* border: 4px solid red; */
}

.delete-button {
    position: absolute;
    right: 8px;
    top: 8px;
}
.close-button {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.settings-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 8px;
}

.gay-input-label {
     display: block;
     margin-bottom: 4px;
}

.gay-input {
    display: flex;
    justify-content: start;
}
.gay-input input {
    margin-inline: 6px;
}

.gay-input-numeric {
    margin-right: 8px;
    text-align: space-between;
}

.gay-input-color {
    height: auto;
    margin-right: 8px;
    box-shadow: 0 0 4px rgb(202, 11, 11)
}

.tap-icon>svg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80%;
    height: 80%;
}
.press-icon>svg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 50%;
    height: 50%;
}