.slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot > * {
  width: 100%;
  height: 100%;
}

.tap-icon > svg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 80%;
}
.press-icon > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
}
.swipe-icon > svg {
  width: 100%;
  height: 100%;
}

.gay-button {
  position: relative;
  display: flex; /* fixes misalignment-on-iphone bug */
  border-radius: 8px;
  border: var(--button-border-width) solid transparent;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.gay-button-tap {
  z-index: var(--layer-popover);
  opacity: 0.4;
}
.gay-button-tap::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--swipe-ring-background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: swipeRing var(--press-delay) ease forwards;
}
.gay-button-tap::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--button-press-background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: tapRing var(--press-delay) ease forwards;
}

.gay-button-press {
  z-index: 2;
}
.gay-button-press::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--button-press-background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  animation: pressRing 0.2s ease forwards;
}

/*=====================================================================*/

@keyframes swipeRing {
  0% {
    width: 5rem;
    height: 5rem;
  }
  100% {
    width: 30rem;
    height: 30rem;
  }
}
@keyframes tapRing {
  0% {
    width: 3rem;
    height: 3rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

@keyframes pressRing {
  0% {
    width: 6rem;
    height: 6rem;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-1.5deg) scale(1);
  }
  25% {
    transform: rotate(1.5deg) scale(1.01);
  }
  50% {
    transform: rotate(-1.5deg) scale(0.99);
  }
  75% {
    transform: rotate(1.5deg) scale(1.01);
  }
  100% {
    transform: rotate(-1.5deg) scale(1);
  }
}
